absl-py==2.3.0
attrs==25.3.0
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
contourpy==1.1.1
cycler==0.12.1
filelock==3.16.1
flatbuffers==25.2.10
fonttools==4.57.0
fsspec==2025.3.0
idna==3.10
importlib_resources==6.4.5
Jinja2==3.1.6
kiwisolver==1.4.7
MarkupSafe==2.1.5
matplotlib==3.7.5
mediapipe==0.10.9
mpmath==1.3.0
networkx==3.1
numpy==1.24.4
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
packaging==25.0
pandas==2.0.3
pillow==10.4.0
protobuf==3.20.3
psutil==7.0.0
py-cpuinfo==9.0.0
pycparser==2.22
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
rknn-toolkit-lite2 @ file:///home/meida/rknn_toolkit_lite2-2.1.0-cp38-cp38-linux_aarch64.whl#sha256=c725cb0ee8aa34d30dd47d95ed9c26b5314c649b0e25439b619a804a41f69d12
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.8
scipy==1.10.1
six==1.17.0
sounddevice==0.5.2
sympy==1.13.3
torch==2.4.1
torchvision==0.19.1
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
ultralytics==8.3.158
ultralytics-thop==2.0.14
urllib3==2.2.3
zipp==3.20.2
